<ion-header>
  <ion-navbar>
    <ion-title>订单管理</ion-title>
    <ion-buttons end>
      <button ion-button (click)="searchOrder()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="page-content">
  <ion-backdrop (click)="_bdClick()" [hidden]="isShowBackDrop"></ion-backdrop>
  <ion-grid class="pos-grid">
    <ion-row class="select-status" (click)="selectStatus()">
      <ion-col col-5 class="charcter">{{showStatus}}</ion-col>
      <ion-col col-1></ion-col>
      <ion-col col-3></ion-col>
      <ion-col col-3 class="ionic">
        <ion-icon name="arrow-down" *ngIf="isShowIcon"></ion-icon>
        <ion-icon name="arrow-up" *ngIf="!isShowIcon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isShowStatusList" class="select-status-list" style="margin-bottom:20px;">
      <ion-col style="padding:0;">
        <ion-list radio-group>
          <ion-item class="list-item" *ngFor="let item of pageStatus">
            <ion-label class="list-lab">{{item.value}}</ion-label>
            <ion-radio (ionSelect)="selectRadio($event)" value="{{item.key}}" checked="{{item.checked}}" color="danger"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="page-order-list">
    <ion-grid class="goods-grid" *ngFor="let item of pagedatamodle, let i = index">
      <ion-row>
        <ion-col col-10>订单编号：{{item.orderCode}}</ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
      <div *ngIf="item.paramsInfo.length>1">
        <ion-grid class="goods-list-img">
          <ion-row>
            <ion-col col-11>
              <ion-slides shouldLockSwipeToNext=false>
                <ion-slide *ngFor="let itempro of item.paramsInfo" class="list-img">
                  <img src="{{imageUrl+itempro.productImagePath+itempro.productImageName}}" class="list-goods-img">
                </ion-slide>
              </ion-slides>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="item.paramsInfo.length==1">
        <ion-row class="goods-line" *ngFor="let itempro of item.paramsInfo">
          <ion-col col-4 class="border-padding">
              <img src="{{imageUrl+itempro.productImagePath+itempro.productImageName}}" class="list-goods-img">
          </ion-col>
          <ion-col col-8 class="border-padding">
            <ion-row>
              <ion-col col-12 class="goods-name">{{itempro.commName}}</ion-col>
              <ion-col col-12 class="goods-othername">{{itempro.commSpecName}}</ion-col>
              <ion-col col-12 class="goods-othername">{{itempro.approvedNumName}}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col col-12 class="list-title">共{{item.orderNumber}}件商品 合计¥{{item.orderAmount}}（含运费¥{{item.freightAmount}}）</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8></ion-col>
        <ion-col col-4 class="list-title">
          <button *ngIf="item.orderStateId==4" color="danger" (click)="viewOrder(item.orderId)" ion-button block outline class="pay-btn">待审核</button>
          <button *ngIf="item.orderStateId==5" color="danger" (click)="viewOrder(item.orderId)" ion-button block outline class="pay-btn">待发货</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>