page-order {
  .item-ios {
    padding-left: 0px;
  }
  .goods-grid {
    margin-top: 5px;
    background-color: #fff;
    border-bottom: 0.55px solid #c8c7cc;
  }
  .goods-name {
    font-size: 1.9rem;
    font-weight: 600;
    padding-top: 0;
  }
  .goods-othername {
    color: #999;
  }
  .goods-spec {
    border: 1px solid #d6d6d6;
    padding: 2px 5px;
  }
  .modify-btn {
    text-align: center;
    color: #989898;
  }
  .goods-price {
    font-size: 1.9rem;
    font-weight: 600;
    color: #e4393c;
  }
  .goods-img {
    display: flex;
    display: -webkit-flex;
    align-items: center;
  }
  .label-ios {
    margin: 11px 0px 11px 0;
  }
  .list-grid {
    margin-top: 5px;
    background-color: #fff;
    padding-left: 20px;
    font-size: 1.7rem;
    .txt-right {
      text-align: end;
      padding-right: 32px;
    }
  }
  .list-title {
    display: flex;
    display: -webkit-flex;
    align-items: center;
  }
  .list-img {
    width: 37% !important;
    padding-right: 5px;
    padding-left: 5px;
  }
  .list-detail {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    text-align: end;
    font-size: 1.6rem;
    padding-left: 20px;
  }
  img.auto-image {
    width: 100%;
  }
  .up-voucher {
    font-size: 1.3rem;
    color: #272727;
    .specify {
      font-size: 1.1rem;
      color: #656565;
    }
    .red {
      color: #e4393c;
    }
  }
  .img-col {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 0;
  }
  .footgrid {
    padding: 0px;
    background-color: #fff;
    min-height: 54px;
    height: 54px;
  }
  .wximg {
    width: 85%;
    padding-top: 3px;
  }
  .iconimg {
    width: 16%;
  }
  .ailpayimg {
    width: 82%;
  }
  .rodioBtn {
    border-color: #e4393c;
    background-color: #e4393c;
    border-radius: 50%;
    position: relative;
    width: 21px;
    height: 21px;
    border-width: 1px;
    border-style: solid;
    border-color: #c8c7cc;
    background-color: #fff;
  }
  .rodioBtnCheck {
    border-color: #e4393c !important;
    background-color: #e4393c !important;
    border-radius: 50%;
    position: relative;
    width: 21px;
    height: 21px;
    border-width: 1px;
    border-style: solid;
    border-color: #c8c7cc;
    background-color: #fff;
  }
  .ion-ios-checkmark-circle:before {
    color: #e4393c;
    font-size: 2.7rem;
  }
}

