page-adminpersonal {
  .toolbar-title-md {
    text-align: center;
  }
  .scroll-content {
    overflow: hidden;
  }
  .bg-color {
    background-color: #efeeee;
  }
  .top-list {
    margin-top: 15px;
  }
  .bottom-btn {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
  }
}

