page-ordergoodslist {
    .pagelogo {
        text-align: center;
        margin-top: 120px;
      }
      .gotobtn {
        margin-top: 20px;
        text-align: center;
        width: 100%;
      }
      .button-ios {
        padding: 0 4em;
      }
      .toptitle {
        background-color: #f8f8f8;
        color: #989898;
        padding-left: 25px;
        padding-right: 15px;
        font-size: 1.6rem;
      }
      .item-block {
        min-height: 3.6rem;
      }
      .goods-grid {
        margin-top: 5px;
        background-color: #fff;
      }
      .goods-name {
        font-size: 1.9rem;
        font-weight: 600;
        padding-top: 0;
      }
      .goods-othername {
        color: #999;
      }
      .goods-spec {
        border: 1px solid #d6d6d6;
        padding: 2px 5px;
      }
      .modify-btn {
        text-align: center;
        color: #989898;
      }
      .goods-price {
        font-size: 1.9rem;
        font-weight: 600;
        color: #e4393c;
      }
      .goods-img {
        display: flex;
        display: -webkit-flex;
        align-items: center;
      }
      .item-ios {
        padding-left: 5px;
      }
      .label-ios {
        margin: 0;
      }
      .item-ios.item-block .item-inner {
        padding-right: 0px;
      }
    
    }
    