<ion-header>
  <ion-navbar>
    <ion-title>我的订单</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event,audit)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="数据正在加载中..." refreshingText="数据正在加载中...">
    </ion-refresher-content>
  </ion-refresher> -->
  <ion-segment [(ngModel)]="allorder" color="verify">
    <ion-segment-button value="all" isActive (ionSelect)="selectedAll()">
      全部
    </ion-segment-button>
    <ion-segment-button value="nopay" (ionSelect)="selectedNopay()">
      待付款
    </ion-segment-button>
    <ion-segment-button value="noaudit" (ionSelect)="selectedNoaudit()">
      待审核
    </ion-segment-button>
    <ion-segment-button value="nodeliver" (ionSelect)="selectedNodeliver()">
      待发货
    </ion-segment-button>
    <ion-segment-button value="notakedelivery" (ionSelect)="selectedNotakedelivery()">
      待收货
    </ion-segment-button>
    <ion-segment-button value="nocomment" (ionSelect)="selectedNocomment()">
      待评价
    </ion-segment-button>
    <!-- <ion-segment-button value="aftersale" (ionSelect)="selectedAftersale()">
      售后服务
    </ion-segment-button> -->
  </ion-segment>
  <div [ngSwitch]="allorder">
    <ion-list *ngSwitchCase="'all'">
      <ion-item *ngIf="isShowAll">暂时没有订单</ion-item>
      <ion-grid class="goods-grid" *ngFor="let item of pagedatamodleAll, let i = index">
        <ion-row>
          <ion-col col-9>订单编号：{{item.orderCode}}</ion-col>
          <ion-col col-3 style="text-align:end;color:#e4393c" *ngIf="item.orderStateId==3">待付款</ion-col>
          <ion-col col-3 style="text-align:end;color:#e4393c" *ngIf="item.orderStateId==4">待审核</ion-col>
          <ion-col col-3 style="text-align:end;color:#e4393c" *ngIf="item.orderStateId==5">待发货</ion-col>
          <ion-col col-3 style="text-align:end;color:#e4393c" *ngIf="item.orderStateId==7">待收货</ion-col>
          <ion-col col-3 style="text-align:end;color:#e4393c" *ngIf="item.orderStateId==9">待评价</ion-col>
          <ion-col col-3 style="text-align:end;color:#e4393c" *ngIf="item.orderStateId==70">已完成</ion-col>
          <ion-col col-3 style="text-align:end;color:#e4393c" *ngIf="item.orderStateId==71">已关闭</ion-col>
          <ion-col col-3 style="text-align:end;color:#e4393c" *ngIf="item.orderStateId==72">已取消</ion-col>
        </ion-row>
        <ion-row class="goods-line" *ngFor="let goodsinfo of item.paramsInfo" (click)="viewOrder(item.orderId,'all')">
          <ion-col col-4 class="border-padding">
            <img src="{{imageUrl+goodsinfo.productImagePath+goodsinfo.productImageName}}" class="goods-img">
          </ion-col>
          <ion-col col-8 class="border-padding">
            <ion-row>
              <ion-col col-12 class="goods-name">{{goodsinfo.commName}}</ion-col>
              <ion-col col-12 class="goods-othername">{{goodsinfo.commSpecName}}</ion-col>
              <ion-col col-12>{{goodsinfo.approvedNumName}}</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-9 class="list-title">共{{item.orderNumber}}件商品 合计¥{{item.orderAmount}}</ion-col>
          <ion-col col-3 class="red-btn">
            <button color="danger" ion-button block outline class="pay-btn" (click)="payOrder(item.orderId)" *ngIf="item.orderStateId==3">去支付</button>
            <button color="danger" ion-button block outline class="pay-btn" (click)="goComment(item)" *ngIf="item.orderStateId==9">去评价</button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="item.orderStateId==7">
          <ion-col col-6></ion-col>
          <ion-col col-3>
            <button color="cblock" ion-button block outline class="pay-btn" (click)="viewlogistics(item)">查看物流</button>
          </ion-col>
          <ion-col col-3 class="red-btn">
            <button color="danger" (click)="confirmOrder(item)" ion-button block outline class="pay-btn">确认收货</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-list *ngSwitchCase="'nopay'">
      <ion-item *ngIf="isShowNoPay">暂时还没有相关订单</ion-item>
      <div *ngIf="!isShowNoPay">
        <ion-grid class="goods-grid" *ngFor="let item of pagedatamodleNoPay, let i = index">
          <ion-row>
            <ion-col col-8>订单编号：{{item.orderCode}}</ion-col>
            <ion-col col-4 style="text-align:end;color:#e4393c">待付款</ion-col>
          </ion-row>
          <ion-row class="goods-line" *ngFor="let goodsinfo of item.paramsInfo" (click)="viewOrder(item.orderId,'nopay')">
            <ion-col col-4 class="border-padding">
              <img src="{{imageUrl+goodsinfo.productImagePath+goodsinfo.productImageName}}" class="goods-img">
            </ion-col>
            <ion-col col-8 class="border-padding">
              <ion-row>
                <ion-col col-12 class="goods-name">{{goodsinfo.commName}}</ion-col>
                <ion-col col-12 class="goods-othername">{{goodsinfo.commSpecName}}</ion-col>
                <ion-col col-12>{{goodsinfo.approvedNumName}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-9 class="list-title">共{{item.orderNumber}}件商品 合计¥{{item.orderAmount}}</ion-col>
            <ion-col col-3 class="red-btn">
              <button color="danger" ion-button block outline class="pay-btn" (click)="payOrder(item.orderId)">去支付</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'noaudit'">
      <ion-item *ngIf="isShowNoAudit">暂时还没有相关订单</ion-item>
      <div *ngIf="!isShowNoAudit">
        <ion-grid class="goods-grid" *ngFor="let item of pagedatamodleNoAudit, let i = index">
          <ion-row>
            <ion-col col-8>订单编号：{{item.orderCode}}</ion-col>
            <ion-col col-4 style="text-align:end;color:#e4393c">待审核</ion-col>
          </ion-row>
          <ion-row class="goods-line" *ngFor="let goodsinfo of item.paramsInfo" (click)="viewOrder(item.orderId,'noaudit')">
            <ion-col col-4 class="border-padding">
              <img src="{{imageUrl+goodsinfo.productImagePath+goodsinfo.productImageName}}" class="goods-img">
            </ion-col>
            <ion-col col-8 class="border-padding">
              <ion-row>
                <ion-col col-12 class="goods-name">{{goodsinfo.commName}}</ion-col>
                <ion-col col-12 class="goods-othername">{{goodsinfo.commSpecName}}</ion-col>
                <ion-col col-12>{{goodsinfo.approvedNumName}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-9 class="list-title">共{{item.orderNumber}}件商品 合计¥{{item.orderAmount}}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'nodeliver'">
      <ion-item *ngIf="isShowNoDeliver">暂时还没有相关订单</ion-item>
      <div *ngIf="!isShowNoDeliver">
        <ion-grid class="goods-grid" *ngFor="let item of pagedatamodleNoDeliver, let i = index">
          <ion-row>
            <ion-col col-8>订单编号：{{item.orderCode}}</ion-col>
            <ion-col col-4 style="text-align:end;color:#e4393c">待发货</ion-col>
          </ion-row>
          <ion-row class="goods-line" *ngFor="let goodsinfo of item.paramsInfo" (click)="viewOrder(item.orderId,'nodeliver')">
            <ion-col col-4 class="border-padding">
              <img src="{{imageUrl+goodsinfo.productImagePath+goodsinfo.productImageName}}" class="goods-img">
            </ion-col>
            <ion-col col-8 class="border-padding">
              <ion-row>
                <ion-col col-12 class="goods-name">{{goodsinfo.commName}}</ion-col>
                <ion-col col-12 class="goods-othername">{{goodsinfo.commSpecName}}</ion-col>
                <ion-col col-12>{{goodsinfo.approvedNumName}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-9 class="list-title">共{{item.orderNumber}}件商品 合计¥{{item.orderAmount}}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'notakedelivery'">
      <ion-item *ngIf="isShowNoTakeDelivery">暂时还没有相关订单</ion-item>
      <div *ngIf="!isShowNoTakeDelivery">
        <ion-grid class="goods-grid" *ngFor="let item of pagedatamodleNoTakeDelivery, let i = index">
          <ion-row>
            <ion-col col-8>订单编号：{{item.orderCode}}</ion-col>
            <ion-col col-4 style="text-align:end;color:#e4393c">待收货</ion-col>
          </ion-row>
          <ion-row class="goods-line" *ngFor="let goodsinfo of item.paramsInfo" (click)="viewOrder(item.orderId,'notakedelivery')">
            <ion-col col-4 class="border-padding">
              <img src="{{imageUrl+goodsinfo.productImagePath+goodsinfo.productImageName}}" class="goods-img">
            </ion-col>
            <ion-col col-8 class="border-padding">
              <ion-row>
                <ion-col col-12 class="goods-name">{{goodsinfo.commName}}</ion-col>
                <ion-col col-12 class="goods-othername">{{goodsinfo.commSpecName}}</ion-col>
                <ion-col col-12>{{goodsinfo.approvedNumName}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-9 class="list-title">共{{item.orderNumber}}件商品 合计¥{{item.orderAmount}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-6></ion-col>
            <ion-col col-3>
              <button color="cblock" ion-button block outline class="pay-btn" (click)="viewlogistics(item)">查看物流</button>
            </ion-col>
            <ion-col col-3 class="red-btn">
              <button color="danger" (click)="confirmOrder(item)" ion-button block outline class="pay-btn">确认收货</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'nocomment'">
      <ion-item *ngIf="isShowNoComment">暂时还没有相关订单</ion-item>
      <div *ngIf="!isShowNoComment">
        <ion-grid class="goods-grid" *ngFor="let item of pagedatamodleNoComment, let i = index">
          <ion-row>
            <ion-col col-8>订单编号：{{item.orderCode}}</ion-col>
            <ion-col col-4 style="text-align:end;color:#e4393c">待评价</ion-col>
          </ion-row>
          <ion-row class="goods-line" *ngFor="let goodsinfo of item.paramsInfo" (click)="viewOrder(item.orderId,'nocomment')">
            <ion-col col-4 class="border-padding">
              <img src="{{imageUrl+goodsinfo.productImagePath+goodsinfo.productImageName}}" class="goods-img">
            </ion-col>
            <ion-col col-8 class="border-padding">
              <ion-row>
                <ion-col col-12 class="goods-name">{{goodsinfo.commName}}</ion-col>
                <ion-col col-12 class="goods-othername">{{goodsinfo.commSpecName}}</ion-col>
                <ion-col col-12>{{goodsinfo.approvedNumName}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-9 class="list-title">共{{item.orderNumber}}件商品 合计¥{{item.orderAmount}}</ion-col>
            <ion-col col-3 style="text-align:end;color:danger">
              <button color="danger" ion-button block outline class="pay-btn" (click)="goComment(item)">去评价</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-list>
    <ion-list *ngSwitchCase="'aftersale'">
      <ion-item *ngIf="isShowAfterSale">暂时还没有相关订单</ion-item>
      <div *ngIf="!isShowAfterSale">
        <ion-grid class="goods-grid" *ngFor="let item of pagedatamodleAfterSale, let i = index">
          <ion-row>
            <ion-col col-8>订单编号：{{item.orderCode}}</ion-col>
            <ion-col col-4 style="text-align:end;color:#e4393c">{{item.orderstatus}}</ion-col>
          </ion-row>
          <ion-row class="goods-line" *ngFor="let goodsinfo of item.paramsInfo" (click)="viewOrder(item.orderId,'aftersale')">
            <ion-col col-4 class="border-padding">
              <img src="{{imageUrl+goodsinfo.productImagePath+goodsinfo.productImageName}}" class="goods-img">
            </ion-col>
            <ion-col col-8 class="border-padding">
              <ion-row>
                <ion-col col-12 class="goods-name">{{goodsinfo.commName}}</ion-col>
                <ion-col col-12 class="goods-othername">{{goodsinfo.commSpecName}}</ion-col>
                <ion-col col-12>{{goodsinfo.approvedNumName}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-9 class="list-title">共{{item.orderNumber}}件商品 合计¥{{item.orderAmount}}</ion-col>
            <ion-col col-3 style="text-align:end;color:danger">
              <button color="danger" ion-button block outline class="pay-btn" (click)="aftersale(item)">申请售后</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </ion-list>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event,audit)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

