<ion-header>
  <ion-navbar class="top-pos" color="danger">
    <ion-title>
      <ion-grid style="padding:0;text-align:center">
        <ion-row style="padding:0;">
          <!-- <ion-col col-2></ion-col> -->
          <!-- <ion-col col-12 class="search">
            请输入您要搜索的内容
          </ion-col> -->
          <!-- <ion-col col-2></ion-col> -->
          <ion-col col-12>
            精华制药直销系统
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
    <ion-buttons end class="message">
      <button ion-button (click)="myMessagePage()">
        <ion-grid style="padding:0;text-align:center">
          <ion-row style="padding:0;">
            <ion-col col-12 style="padding:0;">
              <ion-icon name="message"></ion-icon>
              <ion-badge class="badge" *ngIf="messageCount>0">{{messageCount}}</ion-badge>
            </ion-col>
            <ion-col col-12 style="padding:0;font-size:1.2rem;color:#fff">消息</ion-col>
          </ion-row>
        </ion-grid>
      </button>
    </ion-buttons>
    <ion-buttons start class="scan">
      <button ion-button (click)="qrScannerPage()">
        <ion-grid style="padding:0;">
          <ion-row style="padding:0;">
            <ion-col col-12 style="padding:0;">
              <ion-icon name="scan"></ion-icon>
            </ion-col>
            <ion-col col-12 style="padding:0;font-size:1.2rem;">扫一扫</ion-col>
          </ion-row>
        </ion-grid>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <ion-grid class="grid-ad" *ngIf="isShowtopAdData">
    <ion-row>
      <ion-slides loop page paginationType="fraction" autoplay=3000 *ngIf="topAdData.length > 1">
        <ion-slide *ngFor="let item of topAdData">
          <img (click)="goodsDetail(item.objectId)" src="{{imageUrl+item.imagesList[0].imagePath+item.imagesList[0].imageName}}" alt="">
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-ad" *ngIf="isShowclassAdData">
    <ion-row>
      <ion-col col-4 *ngFor="let item of classAdData">
        <img src="{{imageUrl+item.imagesList[0].imagePath+item.imagesList[0].imageName}}" alt="" (click)="classid(item.objectId,item.pageInfoTitle)">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-hot" *ngIf="isShowseasonProData">
    <ion-row>
      <ion-col class="title" (click)="classid('419942e6-9303-4c3f-886a-17044f978d2c','中药')">中药
        <ion-icon name="arrow-dropright"></ion-icon>
        <span class="subtitle">当季热销中药</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 *ngFor="let item of seasonProData">
        <img src="{{imageUrl+item.imagesList[0].imagePath+item.imagesList[0].imageName}}" alt="" (click)="goodsDetail(item.objectId)">
        <p class="goods-title">{{item.pageInfoTitle}}</p>
        <p class="red">{{item.pageInfoSummary}}</p>
      </ion-col>
      <ion-col *ngIf="seasonProDataMore" col-3 style="padding-top:25px;padding-left:13px;" (click)="classid('419942e6-9303-4c3f-886a-17044f978d2c','中药')">
        <img src="assets/imgs/more.png" class="moreimg" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-mad" *ngIf="isShowmiddleAdData">
    <ion-row>
      <ion-col col-4 *ngFor="let item of middleAdData">
        <img src="{{imageUrl+item.imagesList[0].imagePath+item.imagesList[0].imageName}}" alt="" (click)="goodsDetail(item.objectId)">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-hot" *ngIf="isShowhotSellData">
    <ion-row>
      <ion-col class="title" (click)="classid('b94d5f1e-eef2-44e3-8ba0-13382a3e4ccd','西药')">西药
        <ion-icon name="arrow-dropright"></ion-icon>
        <span class="subtitle">当季热销西药</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 *ngFor="let item of hotSellData">
        <img src="{{imageUrl+item.imagesList[0].imagePath+item.imagesList[0].imageName}}" alt="" (click)="goodsDetail(item.objectId)">
        <p class="goods-title">{{item.pageInfoTitle}}</p>
        <p class="red">{{item.pageInfoSummary}}</p>
      </ion-col>
      <ion-col *ngIf="hotSellDataMore" col-3 (click)="classid('b94d5f1e-eef2-44e3-8ba0-13382a3e4ccd','西药')" style="padding-top:25px;padding-left:13px;">
        <img src="assets/imgs/more.png" alt="" class="moreimg">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-hot" *ngIf="isShowHCProducts">
    <ion-row>
      <ion-col class="title" (click)="classid('c7a59095-8899-44c8-a9c4-9e90b6710a7e','保健品')">保健品
        <ion-icon name="arrow-dropright"></ion-icon>
        <span class="subtitle">当季热销保健品</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3 *ngFor="let item of HCProductsData">
        <img src="{{imageUrl+item.imagesList[0].imagePath+item.imagesList[0].imageName}}" alt="" (click)="goodsDetail(item.objectId)">
        <p class="goods-title">{{item.pageInfoTitle}}</p>
        <p class="red">{{item.pageInfoSummary}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>