page-admin-goods-default-images {
  .grid-img {
    padding: 0px;
    background-color: #f8f8f8;
    min-height: 120px;
  }
  .auto-image {
    width: 100%;
  }
  .bigimg {
    height: 240px !important;
    max-height: 50% !important;
  }
}

