page-resetpwd {
  .inputbox {
    padding-top: 15px;
  }
  .box-right {
    padding-top: 16px;
  }
  .item-input {
    color: #222;
  }
  .login {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
  .button-inner {
    font-size: 20px;
  }
  .bar-button-default-ios {
    color: #222;
  }
  .bar-button-ios {
    padding-left: 13px;
  }
  .align-txt {
    margin-left: 17px;
  }
  .pagetip {
    color: red;
    padding: 10px 20px 10px 20px;
    font-size: 1.1rem;
  }
  .next-btn {
    font-size: 1.9rem;
  }
}

