page-adminpublishedit {
  .grid-img {
    padding: 0px;
    background-color: #f8f8f8;
    min-height: 120px;
  }
  .grid-content {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.7rem;
    background-color: #fff;
  }
}

