page-infoaudit {
  .pagetop {
    text-align: center;
    background-color: #f0f0f0;
  }
  .pagetop img {
    width: 76%;
  }
  .pagetitle {
    padding-top: 15px;
    text-align: center;
    font-size: 2.2rem;
  }
  .describe {
    padding: 10px 30px 0 30px;
    font-size: 1.4rem;
  }
  .rowstyle {
    padding: 10px 20px 0 20px;
  }
}

