page-part-location-opt {}

.location-part .popover-content {
  border-radius: 0px;
  width: 100%;
  min-width: 0;
  min-height: 0;
  max-height: 70%;
  color: #222;
  background: #fff;
  left:0 !important;
  bottom:0 !important;
  height: 70% !important;
}

