page-adminauditinfo {
  .box-padding {
    padding: 10px 8px;
  }
  .blockstyle {
    text-align: center;
    color: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 1.8rem;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  .audit {
    background-color: #488aff;
  }
  .replenish {
    background-color: #7ab660;
  }
}

