<ion-header>
  <ion-navbar>
    <ion-title>商品发布列表</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event,classOpt,segmentStatus)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="数据正在加载中..." refreshingText="数据正在加载中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-scroll scrollX="true" class="scrollbox">
    <div style="width:1000px;">
      <div class="slidesClassify" *ngFor="let item of classifyList, let i = index" [ngClass]="{'page-tabs-activat': i==0}" (click)="selectClassify(item,$event)">
        {{item.className}}
      </div>
    </div>
  </ion-scroll>
  <ion-segment [(ngModel)]="segmentStatus">
      <ion-segment-button value="noPublish">未发布</ion-segment-button>
    <ion-segment-button value="publish">已发布</ion-segment-button>
    
    <!-- <ion-segment-button value="invalid">失效</ion-segment-button> -->
  </ion-segment>
  <div [ngSwitch]="segmentStatus">
    <ion-list *ngSwitchCase="'publish'">
      <ion-item *ngIf="isShowPubilsh" style="text-align:center">你还没有发布过商品</ion-item>
      <ion-grid class="goods-grid" *ngFor="let item of goodsList, let i = index">
          <button ion-item (click)="publishEdit(item)">
        <ion-row>
          <ion-col col-4 class="goods-img">
            <img src="{{'data:image/jpeg;base64,'+item.imagesList[0].imageData}}"> 
          </ion-col>
          <ion-col col-8>
            <ion-row>
              <ion-col col-12 class="goods-name">{{item.commName}}</ion-col>
              <ion-col col-12 class="goods-othername">别名：{{item.commAlias}}</ion-col>
              <!-- <ion-col col-12 class="goods-price">¥{{item.medianPrice}}</ion-col>
              <ion-col col-12>
                <span class="goods-spec">{{item.spec}}</span>
              </ion-col> -->
            </ion-row>
          </ion-col>
        </ion-row>
      </button>
        <!-- <ion-row>
          <ion-col col-6 class="modify-btn" (click)="goodsPublishEdit(item)">
            <ion-icon name="editor"></ion-icon>编辑</ion-col>
          <ion-col col-6 class="modify-btn" (click)="deletePublish(item)">
            <ion-icon name="delete"></ion-icon>取消发布</ion-col>
        </ion-row> -->
      </ion-grid>
    </ion-list>
    <ion-list *ngSwitchCase="'noPublish'">
      <ion-item *ngIf="isShowNoPubilsh" style="text-align:center">你还没有添加过商品</ion-item>
      <ion-grid class="goods-grid" *ngFor="let item of goodsListNP, let i = index">
        <ion-row>
          <ion-col col-4>
            <img src="{{'data:image/jpeg;base64,'+item.imagesList[0].imageData}}">
          </ion-col>
          <ion-col col-8>
            <ion-row>
              <ion-col col-12 class="goods-name">{{item.commName}}</ion-col>
              <ion-col col-12 class="goods-othername">别名：{{item.commAlias}}</ion-col>
              <!-- <ion-col col-12>
                <span class="goods-spec">{{item.spec}}</span>
              </ion-col> -->
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="modify-btn" (click)="publishGoods(item)">
            <ion-icon name="publish"></ion-icon>发布</ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-list *ngSwitchCase="'invalid'">
      <ion-grid class="goods-grid" *ngFor="let item of goodsListD, let i = index">
        <ion-row>
          <ion-col col-4>
            <img src="{{'data:image/jpeg;base64,'+item.imagesList[0].imageData}}">
          </ion-col>
          <ion-col col-8>
            <ion-row>
              <ion-col col-12 class="goods-name">{{item.commName}}</ion-col>
              <ion-col col-12 class="goods-othername">别名：{{item.commAlias}}</ion-col>
              <!-- <ion-col col-12>
                <span class="goods-spec">{{item.spec}}</span>
              </ion-col> -->
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event,classOpt,segmentStatus)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>