page-adminlogin {
  .pagelogo {
    padding-top: 80px;
    padding-bottom: 40px;
    height: auto;
  }
  .logoimg {
    text-align: center;
  }
  .logoimg img {
    width: 60%;
  }
  .logotxt {
    margin-top: 15px;
    text-align: center;
    font-size: 22px;
    color: #222;
  }
  .inputbox {
    margin-left: 16px;
    margin-right: 24px;
  }
  .box-right {
    padding-right: 16px;
  }
  .login {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
  }
  .button-inner {
    font-size: 2rem;
  }
  .r-box {
    padding-left: 13px;
    padding-right: 13px;
  }
  .s-botton {
    font-size: 1.5rem;
  }
  .dark {
    color: #666;
  }
}

